@model WebApplication2.Models.Service
@{
    ViewBag.Title = Model.Name;
}
<h2>Услуга: @Model.Name</h2>
 <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">@Model.Description</h2>
          </div>
          <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" src="https://pbs.twimg.com/media/EPWMZp1XsAAp5tP.jpg" data-holder-rendered="true" style="width: 500px; height: 500px;">
          </div>
        </div>