
<div class="accordion mt-3" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Регистрация/Авторизация
        </button>
      </h5>
    </div>
    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
         На сайт можно войти как обычный юзер или как админ. Чтобы войти как админ нужно на странице <a asp-area="" asp-controller="Account" asp-action="Login"> Авторизации </a> ввести: <br> Email: admin@mail.ru  <br>  Password: 123456 <br> Таким же образом можно зайти как обычный пользователь, но для начала нужно зарегистрироваться -> <a asp-area="" asp-controller="Account" asp-action="Register"> Регистрация </a>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Навигация
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        Сайт состоит из главной страницы - <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>, страницы Политики приватности - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>, далее страницы со списком пользователей - <a asp-area="" asp-controller="Home" asp-action="Users">Users</a>, страницы со списком заказов - <a asp-area="" asp-controller="Home" asp-action="Orders">Orders</a> которые <strong> доступны только пользователям с ролью админ. </strong> страницы услуг - <a asp-area="" asp-controller="Service" asp-action="Services">Услуги</a><br> В правом верхнем углу в выпадающем списке "Профиль" можно перейти в личный кабинет пользователя с его информацией <a asp-area="" asp-controller="Account" asp-action="Profile">(Личный кабинет)</a>, так же есть кнопка для выхода из аккаунта. <br> В футере по ссылке <a asp-area="" asp-controller="Home" asp-action="Contacts">Контакты</a> открывается страница обратной связи.
      </div>
    </div>
  </div>
    <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Заказы/услуги
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
          На странице услуг, админ может добавлять/редактировать/удалять услуги. Также на сайте немного реализованы заказы (чтобы связать таблицы юзеров и услуг), когда юзер заказывает услугу заказ отображается в его в профиле и в общей таблице заказов у админа.
      </div>
    </div>
  </div>
</div>
<div class="cat_container" style="Background:transparent;">
	<div class="cat">
		<div class="paw"></div>
		<div class="paw"></div>
		<div class="shake">
			<div class="tail"></div>
			<div class="main">
				<div class="head"></div>
				<div class="body">
					<div class="leg"></div>
				</div>
				<div class="face">
					<div class="mustache_cont">
						<div class="mustache"></div>
						<div class="mustache"></div>
					</div>
					<div class="mustache_cont">
						<div class="mustache"></div>
						<div class="mustache"></div>
					</div>
					<div class="nose"></div>
					<div class="eye"></div>
					<div class="eye"></div>
					<div class="brow_cont">
						<div class="brow"></div>
						<div class="brow"></div>
					</div>
					<div class="brow_cont">
						<div class="brow"></div>
						<div class="brow"></div>
					</div>
					<div class="ear_l">
						<div class="inner"></div>
					</div>
					<div class="ear_r">
						<div class="outer"></div>
						<div class="inner"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>