<div class="accordion mt-3" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Регистрация/Авторизация
        </button>
      </h5>
    </div>
    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
         На сайт можно войти как обычный юзер или как админ. Чтобы войти как админ нужно на странице <a asp-area="" asp-controller="Account" asp-action="Login"> Авторизации </a> ввести: <br> Email: admin@mail.ru  <br>  Password: 123456 <br> Таким же образом можно зайти как обычный пользователь, но для начала нужно зарегистрироваться -> <a asp-area="" asp-controller="Account" asp-action="Register"> Регистрация </a>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Навигация
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        Сайт состоит из главной страницы - <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>, страницы Политики приватности - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>, страницы со списком пользователей - <a asp-area="" asp-controller="Home" asp-action="Users">Users</a> которая <strong> доступна только пользователям с ролью админ. </strong><br> В правом верхнем углу в выпадающем списке "Профиль" можно перейти в личный кабинет пользователя с его информацией <a asp-area="" asp-controller="Account" asp-action="Profile">(Личный кабинет)</a>, так же есть кнопка для выхода из аккаунта. <br> В футере по ссылке <a asp-area="" asp-controller="Home" asp-action="Contacts">Контакты</a> открывается страница обратной связи, а по ссылке <a href="#showchat">Напишите нам</a> открывается чат-бот.
      </div>
    </div>
  </div>
</div>