@{
    ViewData["Title"] = "Политика в отношении обработки персональных данных";
}
<h1>@ViewData["Title"]</h1>

<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
         1. Общие положения
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
      <ol>
      <li>
 Настоящая политика обработки персональных данных составлена в соответствии с требованиями Федерального закона от 27.07.2006. №152-ФЗ «О персональных данных» (далее - Закон о персональных данных) и определяет порядок обработки персональных данных и меры по обеспечению безопасности персональных данных, предпринимаемые Яковенко Максимом Юрьевичем (далее – Оператор).
      </li>
      <li>
 Оператор ставит своей важнейшей целью и условием осуществления своей деятельности соблюдение прав и свобод человека и гражданина при обработке его персональных данных, в том числе защиты прав на неприкосновенность частной жизни, личную и семейную тайну.

        </li>
        <li>
 Настоящая политика Оператора в отношении обработки персональных данных (далее – Политика) применяется ко всей информации, которую Оператор может получить о посетителях веб-сайта https://WebApplication2/.

        </li>
      </ol>
      
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
      2. Оператор может обрабатывать следующие персональные данные Пользователя
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
      <ol>
      <li>
        Фамилия, имя, отчество.
        </li>
        <li>
 Электронный адрес.
        </li>
        <li>
 Также на сайте происходит сбор и обработка обезличенных данных о посетителях (в т.ч. файлов «cookie») с помощью сервисов интернет-статистики (Яндекс Метрика и Гугл Аналитика и других).
        </li>
        <li>
 Вышеперечисленные данные далее по тексту Политики объединены общим понятием Персональные данные.
        </li>
        <li>
 Обработка специальных категорий персональных данных, касающихся расовой, национальной принадлежности, политических взглядов, религиозных или философских убеждений, интимной жизни, Оператором не осуществляется.
        </li>
      </ol>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
         3. Цели обработки персональных данных
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
      <ol>
      <li>
        Цель обработки персональных данных Пользователя:
       <br>– информирование Пользователя посредством отправки электронных писем;
<br>– заключение, исполнение и прекращение гражданско-правовых договоров;
<br>– предоставление доступа Пользователю к сервисам, информации и/или материалам, содержащимся на веб-сайте https://WebApplication2/.
        </li>
        <li>
         Также Оператор имеет право направлять Пользователю уведомления о новых продуктах и услугах, специальных предложениях и различных событиях. Пользователь всегда может отказаться от получения информационных сообщений, направив Оператору письмо на адрес электронной почты yakovenko182003@gmail.com с пометкой «Отказ от уведомлений о новых продуктах и услугах и специальных предложениях».
        </li>
        <li>
        Обезличенные данные Пользователей, собираемые с помощью сервисов интернет-статистики, служат для сбора информации о действиях Пользователей на сайте, улучшения качества сайта и его содержания.
        </li>
      </ol>
      </div>
    </div>
  </div>
</div>
